<!-- Footer -->
<footer>
  <div class="">
    <div class="row">
      <div class="col">
        <img src="./assets/img/iconfooter2.png" alt="" class="logof">
        <p>Visita nuestra tienda y encontrarás</p>
        <p>grandes descuentos!!</p>
      </div>
      <div class="col">
        <h3>Tienda <i class="fa-solid fa-store" style="color: black;"></i> <div class="underlinetxt"><span></span></div></h3>
        <p>Villa el Salvador</p>
        <p>Mercado Pachacamilla - Td.307</p>
        <p>Lima - Perú</p>
        <p class="edit-email">Email: Temptation@gmail.com</p>
        <h5>+51 - 987654321</h5>
      </div>
      <div class="col">
        <h3 class="text-center">Productos <i class="fa-solid fa-bag-shopping" style="color: black;"></i><div class="underlinetxt"><span></span></div></h3>
        <ul>
          <li><a routerLink="/productos/blusas">Blusas</a></li>
          <li><a routerLink="/productos/shorts">Shorts</a></li>
          <li><a routerLink="/productos/vestidos">Vestidos</a></li>
          <li><a routerLink="/productos/poleras">Poleras</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Colecciones <img src="./../../../assets/img/vestidoicon.png" class="img-vest" alt=""><div class="underlinetxt"><span></span></div></h3>
        <ul>
          <li><a routerLink="/productos/invierno">Invierno</a></li>
          <li><a routerLink="/productos/verano">Verano</a></li>
          <li><a routerLink="/productos/otoño">Otoño</a></li>
          <li><a routerLink="/productos/primavera">Primavera</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Metodos de Pago<div class="underlinetxt"><span></span></div></h3>
        <div class="pay_method pb-4">
          <i class="tarjeta"><i class="fa-brands fa-paypal fa-beat "></i></i>
          <i class="tarjeta"><i class="fa-solid fa-credit-card fa-beat"></i></i>
          <i class="tarjeta"><i class="fa-brands fa-cc-apple-pay fa-beat"></i></i>
          <i class="tarjeta"><i class="fa-brands fa-cc-amazon-pay fa-beat"></i></i>
          <i class="tarjeta"><i class="fa-brands fa-google-pay fa-beat fa-lg"></i></i>
        </div>
        <div class="redes-soc">
          <h3>Redes Sociales<div class="underlinetxt"><span></span></div></h3>
          <i class="social"><i class="fa-brands fa-facebook fa-beat"></i></i>
          <i class="social"><i class="fa-brands fa-square-twitter fa-beat"></i></i>
          <i class="social"><i class="fa-brands fa-square-instagram fa-beat"></i></i>
          <i class="social"><i class="fa-brands fa-whatsapp fa-beat"></i></i>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <p class="copyr">Todos los Derechos Reservados © Equipo de Desarrollo Grupo 6 - 2023 </p>
</footer>
