<nav >
    <div class="logo">
        <h1 class="logito">temptation</h1>
    </div>
    <ul>
        <li><a href="" class="text">Productos</a></li>
        <li><a href="" class="text">Recomendados</a></li>
        <li><a href="" class="text" >Categorias</a>
            <ul>
                <li><a href="" class="text-sub">Categorias de Ropa</a></li>
                <li><a href="" class="text-sub">Color</a></li>
                <li><a href="" class="text-sub">Marca</a></li>
                <li><a href="" class="text-sub">Tamaño</a></li>
                <li><a href="" class="text-sub">Estilo</a></li>
            </ul>
        </li>
        <li><a href="" class="text">Sobre Nosotros</a></li>
        <li><a href="" routerLink="/car" class="text"><i class="fa-solid fa-cart-shopping"></i><br></a></li>
        <li>
            <a href="" class="boton" class="text"> 
                <i class="fa-solid fa-user">
                </i>
            </a>
            <ul>
                <li>
                    <a href=""class="text-sub">Administrar Cuenta</a>
                </li>
                <li>
                    <a href=""class="text-sub">Cerrar Sesion</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

