<nav >
    <div class="logo">
        <h1 class="logito">temptation</h1>
    </div>
    <ul>
        <li><a href="" class="text">Inicio</a></li>
        <li><a href="" class="text">Recomendados</a></li>
        <li><a href="" routerLink="/productos" class="text" >Productos</a>
            <ul>
                <li><a href="" class="text-sub">Blusas</a></li>
                <li><a href="" class="text-sub">Polos</a></li>
                <li><a href="" class="text-sub">Chompas</a></li>
                <li><a href="" class="text-sub">Poleras</a></li>
                <li><a href="" class="text-sub">Vestidos</a></li>
                <li><a href="" class="text-sub">Jeans</a></li>
                <li><a href="" class="text-sub">Shorts</a></li>
            </ul>
        </li>
        <li><a href="" routerLink="/colecciones" class="text" >Colecciones</a>
            <ul>
                <li><a href="" class="text-sub">Primavera</a></li>
                <li><a href="" class="text-sub">Verano</a></li>
                <li><a href="" class="text-sub">Otoño</a></li>
                <li><a href="" class="text-sub">Invierno</a></li>
            </ul>
        </li>
        <li><a href="" class="text">Sobre Nosotros</a></li>
        <li><a href="" routerLink="/car" class="text"><i class="fa-solid fa-cart-shopping"></i><br></a></li>
        <li>
            <a href="" class="boton" class="text"> 
                <i class="fa-solid fa-user">
                </i>
            </a>
            <ul>
                <li>
                    <a href=""class="text-sub">Administrar Cuenta</a>
                </li>
                <li>
                    <a href=""class="text-sub">Cerrar Sesion</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

