.logo{
    width: 100%;
}


.my-nav{
  position: absolute;
  width: 100%;
  z-index: 999;
background: none;
}


.logito{
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Brush Script MT';
    margin: 0;
    display: 0;
    padding-top: 10px;
    padding-right: 15px;

    text-shadow:
    -2px -2px 0 #ffffff,
     2px -2px 0 #ffffff,
    -2px  2px 0 #ffffff,
     2px  2px 0 #ffffff;

}
/*=================NAVBAR================*/
nav{
    font-family: Georgia, 'Times New Roman', Times, serif;

    width: 100%;
    background:#ccc;
}
    /*Container*/
.wrapper{
    position: relative;
    max-width: 1300px;
    width: 100%;
    padding: 0 30px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    display: none;
}
.wrapper .logo a{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: n;
}
.nav-links{
    display: flex;
}
.nav-links li{
    list-style: none;
}
div li a.active{
  text-decoration: underline;

}
a.active .icon-wrapper i {
  text-decoration: underline;



}
.nav-links li a{
    color: #000000;
    text-decoration: none;
    text-transform: none;
    text-transform: uppercase;
    /* font-weight: bold; */
    padding: 20px 30px;
    display: inline-block;
    font-size: 20px;
    text-shadow:
    -2px -2px 0 #ffffff,
     2px -2px 0 #ffffff,
    -2px  2px 0 #dddddd,
     2px  2px 0 #fffbfb;
}

.nav-links li a:hover{
    background-color: #222;
    color: #ffffff;
    -webkit-transform: scale(1.0,1.0);
    -moz-transform: scale(1.0,1.0);
    -o-transform: scale(1.,1.0);
    -ms-transform: scale(1.0,1.0);
    transform: scale(1.0,1.0);
    text-shadow: 0 0 10px #ccc;
}


.mega-box{
    z-index: 9999;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 100px;
    opacity: 0;
    visibility: hidden;
}
.nav-links li:hover .mega-box{
    transition: all 0.7s;
    top: 54px;
    opacity: 1;
    visibility: visible;
}

.content{
    background:#ffffff;
    border:10px;
    padding: 25px 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-links li:hover .mega-box2{
    transition: all 0.7s;
    top: 54px;
    opacity: 1;
    visibility: visible;
}

.mega-box2{
    position: absolute;
    z-index: 9999;
    left: -1;
    width: 27%;
    top: 100px;
    opacity: 0;
    visibility: hidden;
}

.content2{
    background:#ccc;
    border:10px;
    padding: 25px px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.main{
    width: 100%;
    line-height: 45px;
}

.main p{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.mega-links{
    margin-left: 1px;
    border-left: 1px solid #222;
}

.mega-links li{
    padding: 0 20px;

}
.mega-links li a{
    padding: 0 20px;
    color: #222;
    font-size: 17px;
    display: inline-block;
    width: 100%;
}
