<nav>
    <div class="logo">
        <h1 class="logito">temptation</h1>
    </div>
    <div class="wrapper">
        <div class="nav-links">
            <li>
                <a href="">INICIO</a>
            </li>
            <li>
                <a href="">Recomendados</a>
            </li>
          <li>
            <a href=""routerLink="/productos">Productos</a>
                <div class="mega-box">
                    <div class="content">
                        <div class="main">
                            <p> Productos</p>
                            <ul class="mega-links">
                                <li><a href="" class="text-sub">Blusas</a></li>
                                <li><a routerLink="/detproducto" class="text-sub">Polos</a></li>
                                <li><a href="" class="text-sub">Chompas</a></li>
                            </ul>
                        </div>
                        <div class="main">
                            <p> Productos</p>
                            <ul class="mega-links">
                                <li><a href="" class="text-sub">Poleras</a></li>
                                <li><a href="" class="text-sub">Vestidos</a></li>

                            </ul>
                        </div>
                        <div class="main">
                            <p> Productos</p>
                            <ul class="mega-links">
                                <li><a href="" class="text-sub">Jeans</a></li>
                                <li><a href="" class="text-sub">Shorts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="" routerLink="/colecciones">Colecciones</a>
                <div class="mega-box">
                    <div class="content">
                        <div class="main">
                            <p> Productos</p>
                            <ul class="mega-links">
                                <li><a href="" class="text-sub">Primavera</a></li>
                                <li><a href="" class="text-sub">Verano</a></li>
                            </ul>
                        </div>
                        <div class="main">
                            <p> Productos</p>
                            <ul class="mega-links">
                                <li><a href="" class="text-sub">Otoño</a></li>
                                <li><a href="" class="text-sub">Inivierno</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="" class="text">Sobre Nosotros</a></li>
            <li><a href="" routerLink="/car" class="text"><i class="fa-solid fa-cart-shopping"></i><br></a></li>
            <li>
                <a href="">Usuario</a>
                <div class="mega-box2">
                    <div class="content">
                        <div class="main">
                            <ul class="mega-links">
                                <li><a href="" class="text-sub">Editar Cuenta</a></li>
                                <li><a href="" class="text-sub">Cerrar Sesion</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </div>
 </nav>

