input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.color{
    background-color: rgb(226, 232, 237);
    border-radius: 10px;
  }

  .imagen{
    height: 30px;
    width:  30px;
    text-align: center;
  }


  .tabla{
    padding-left: 100px;
  }
  .text-subn{
    padding-right: 100px;
  }
  hr {
    border: none;
    border-top: 3px solid rgb(0, 0, 0);
    width: 80%;
  }


  @media(max-width: 600px) {
    .tabla{
      padding: 0;
    }
  }

  .body {
    background-image: url('../../../assets/img/menu-img/fondos/fondo3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    margin: 0;
    height: 300vh;

  }
