<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 border border-secondary " >
            <table class="table border border-secondary mt-3">
                <thead class="text-center w-50">
                  <tr class="">
                    <th class="w-25">Imagen</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="text-center align-middle">
                  <tr>
                    <td><img class="w-100" src="https://ripleype.imgix.net/https%3A%2F%2Fdpq25p1ucac70.cloudfront.net%2Fseller-place-files%2Fmrkl-files%2F1046%2FDEPORTES%2FPhelps_RopaDeBano_Mujer_CompBackSolid_SW2570404_02_203124138815_25.jpeg?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=633bb5b3545f88a8d20563200ec0469e" alt=""></td>
                    <td class="pb-2">15</td>
                    <td>20</td>
                    <td>1500</td>
                    <td>
                        <button
                        class="btn btn-outline-warning btn-sm"
                      >
                        <a> <img class="imagen" src="./assets/img/editar.png" alt="" /></a>
                      </button>
                    </td>
                    <td>
                        <button
                          class="btn btn-outline-danger btn-sm"
                        >
                          <img class="imagen" src="./assets/img/eliminar.png" alt="" />
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-lg-6">
            <div class="car px-5 mx-5">
                <div class="px-5">
                    <div class="h4 pb-2 mb-4 text-center text-danger border-bottom border-danger">
                        Resumen de Compra
                     </div>
                </div>
                <div class="card-body">
                   <div class="table">
                    <tbody class="border-bottom ">
                        <tr> 
                            <td>Subtotal:</td>
                            <td class="align-text-bottom">.$/200</td>
                        </tr>
                    </tbody>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
