<div>
  <img
    src="./assets/img/banner.png"
    alt=""
    style="height: 350px"
    class="w-100"
  />
</div>
<div class="container mt-3">
  <div class="row" style="height: 100px;">
    <div class="col-md-4">
      <p>Filtrar por:</p>
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle botonsito" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Seleccione una Talla
        </button>
        <ul class="dropdown-menu uledit" aria-labelledby="dropdownMenuButton1" style="width: 355px;">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="handleChange($event)">
            <label class="form-check-label" for="flexCheckChecked">
              Talla S
            </label>
          </div> 
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="handleChange2($event)">
            <label class="form-check-label" for="flexCheckChecked">
              Talla M
            </label>
          </div> 
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="handleChange3($event)">
            <label class="form-check-label" for="flexCheckChecked">
              Talla L
            </label>
          </div>

        </ul>
      </div>     
    </div>


    <div class="col-md-4">
      <p>Filtrar por:</p>
      <div class="selector">
        <div id="selectField2">
          <p id="selectText2">Seleccione un Color</p>
          <img id="arrowIcon2" src="./assets/img/arrow.png" />
        </div>
        <ul id="list2" class="hide">
          <li class="options2">
            <p>Rojo</p>
          </li>
          <li class="options2">
            <p>Azul</p>
          </li>
          <li class="options2">
            <p>Verde</p>
          </li>
          <li class="options2">
            <p>Amarillo</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <hr>
    </div>
  </div>
  <div class="row">
        <div class="col-md-4" *ngFor="let item of listProducts" >
          <div class="product text-center" *ngIf="item.state == 1">
            <img class="img-fluid mb-3 sizeeimg" src="{{item.image_using}}" alt="">
            <!-- <h3 *ngIf="item.state == 1"></h3> -->
            <h5 class="p-name" >{{item.name_p}}</h5>
            <h4 class="p-price">S/{{item.price}}</h4>
              <button class="buy-btn" (click)="getOneProduct(item.idproduc)">Ver Detalles</button>
          </div>
      </div>
  </div>
  
</div>
  
