<div class="body" style="padding: 120px">
  <div class="container sproduct my-5">
    <div
      class="row pt-4"
      style="
        background-color: rgba(255, 255, 255, 0.226);
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
      "
    >
      <div class="col-lg-5 col-md-12 col-12" *ngIf="selectprod" style="margin-left: 55px;">
        <img
          class="img-fluid w-100"
          src="{{ selectprod.image_using }}"
          style="border-radius: 20px"
          alt=""
        />
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <h6><a routerLink="/menu">Inicio / </a> <a routerLink="/productos">Productos</a></h6>
        <h3 class="p-name">{{ selectprod.name_p }}</h3>
        <div class="p-tble">
          <h2 class="p-price">S/{{ selectprod.price }}</h2>
          <select class="my-3 mb-4">
            <option value="" selected disabled>Selecione una Talla</option>
            <option value="">XS</option>
            <option value="">S</option>
            <option value="">M</option>
            <option value="">L</option>
          </select>
          <input type="number" [(ngModel)]="quantity" value="1" />
          <button (click)="selectProductCarrito()">Añadir Al Carrito</button>
          <h4 class="my-2 mt-5">Detalles del Producto</h4>
          <span>
            {{ selectprod.description }}
          </span>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
