<div class="container sproduct my-5">
    <div class="row ps-5">
        <div class="col-lg-5 col-md-12 col-12" *ngIf="selectprod">
            <img class="img-fluid w-100" src="{{selectprod.image_using}}" alt="">
        </div>
        <div class="col-lg-6 col-md-12 col-12"> 
            <h6>Inicio / Productos</h6>
            <h3 class="py-4
            ">{{selectprod.name_p}}</h3>
            <h2 class="p-price">S/{{selectprod.price}}</h2>
            <select class="my-3 mb-4">
                <option value="" selected disabled>Selecione una Talla</option>
                <option value="">XS</option>
                <option value="">S</option>
                <option value="">M</option>
                <option value="">L</option>
            </select>
            <input type="number" value="1">
            <button>
                Añadir Al Carrito
            </button>
            <h4 class="my-2 mt-5">Detalles del Producto</h4>
            <span>
                {{selectprod.description}}
            </span>
        </div>
    </div>
</div>
