
<div>
    <img src="./assets/img/banner.png" alt="" style="height: 350px;" class="w-100">
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
                <p>Filtrar por:</p>
                    <div class="selector">
                        <div id="selectField">
                            <p id="selectText">Seleccione una Tallasadasd</p>
                            <img id="arrowIcon" src="./assets/img/arrow.png">
                        </div>
                        <ul id="list" class="hide">
                            <li class="options">
                                <p>XSmall</p>
                            </li>
                            <li class="options">
                                <p>Small</p>
                            </li>
                            <li class="options">
                                <p>Medium</p>
                            </li>
                            <li class="options">
                                <p>Large</p>
                            </li>

                        </ul>
                    </div>

                <select class="form-select" aria-placeholder="Seleccionar">
                    <option value="" disabled selected>Seleccione una Talla</option>
                    <option value="">
                        <input type="checkbox"  class="form-check-input"> XS
                    </option>
                    <option value="">
                        <input type="checkbox"  class="form-check-input"> S
                    </option>
                    <option value="">
                        <input type="checkbox"  class="form-check-input"> M
                    </option>
                    <option value="">
                        <input type="checkbox"  class="form-check-input"> L
                    </option>
                </select>
                
        </div>
        <div class="col-md-4">
            <p>Filtrar por:</p>
            <select class="form-select">
                <option value="" disabled selected>Seleccione una Color</option>
                <option value="">
                    <input type="checkbox"  class="form-check-input"> Rojo
                </option>
                <option value="">
                    <input type="checkbox"  class="form-check-input"> Azul
                </option>
                <option value="">
                    <input type="checkbox"  class="form-check-input"> Verde
                </option>
                <option value="">
                    <input type="checkbox"  class="form-check-input"> Amarillo
                </option>
            </select>
            
    </div>
        <div class="col-md-3" style="margin-left: 94px;"  >
            <p>Ordenar Por:</p>
            <select class="form-select">
                <option value="" disabled selected>Seleccione una Opción</option>
                <option value="">
                    <input type="checkbox"  class="form-check-input"> Alfabeticamente, A - Z
                </option>
                <option value="">
                    <input type="checkbox"  class="form-check-input"> Alfabeticamente, Z - A
                </option>
                <option value="">
                    <input type="checkbox"  class="form-check-input"> Precio de Menor a Mayor
                </option>
                <option value="">
                    <input type="checkbox"  class="form-check-input"> Precio de Mayor a Menor
                </option>
            </select>
    </div>
    </div>
</div>
