<div  class="body" style="padding: 80px;">
  <div class="" style="width: 800px; margin: 0 auto;">
    <div class="row mt-5" style="background-color: whitesmoke;margin: 0 auto;padding: 20px;width: 450px; border-radius: 20px;" >

        <div class="col-lg-12">
          <div style="text-align: center;">
            <img src="./assets/img/perfil.gif" class="text-center  img" alt="imagen de Registro">
          </div>

            <div class="w-100">
                <h1>Registro de Usuario</h1>
                <form [formGroup]="formPerson" (ngSubmit)="addPerson()" >
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Nombre</label>
                            <input formControlName="name"
                            class="form-control"
                            pattern="[A-Za-z ]{1,40}"
                            id="exampleInputPassword1">
                            <span *ngIf="formPerson.get('name')?.hasError('required') && formPerson.get('name')?.touched">
                                <strong style="color:orangered">El campo Nombre es requerido</strong>
                            </span>
                            <span *ngIf="formPerson.get('name')?.hasError('pattern')">
                                <strong style="color:red">El campo Nombre no debe contener números/signos o más de 40 caracteres</strong>
                            </span>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Apellido</label>
                            <input formControlName="lastname"
                            class="form-control"
                            pattern="[A-Za-z ]{1,40}"
                            id="exampleInputPassword1">
                            <span *ngIf="formPerson.get('lastname')?.hasError('required') && formPerson.get('lastname')?.touched">
                                <strong style="color:orangered">El campo Apellido es requerido</strong>
                            </span>
                            <span *ngIf="formPerson.get('lastname')?.hasError('pattern')">
                                <strong style="color:red">El campo Apellido no debe contener números/signos o más de 40 caracteres</strong>
                            </span>
                        </div>
                        <div class="mb-3 col-md-12">
                            <label class="form-label">Email</label>
                            <input formControlName="email"
                            class="form-control"
                            id="exampleInputPassword1"
                            type="email">
                            <span *ngIf="formPerson.get('email')?.hasError('required') && formPerson.get('email')?.touched">
                                <strong style="color:orangered">El campo Email es requerido</strong>
                            </span>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Dni</label>
                            <input formControlName="dni"
                            type="number"
                            class="form-control"
                            pattern="[0-9]{1,8}"
                            max="99999999"
                            id="exampleInputPassword1">
                            <span *ngIf="
                            formPerson.get('dni')?.hasError('required') &&
                            formPerson.get('dni')?.touched"
                            >
                            <strong style="color:orangered" >El campo DNI es Requerido</strong>
                            </span>
                            <span *ngIf="formPerson.get('dni')?.hasError('pattern')">
                                <strong style="color:red">El campo DNI no puede ser mayor a 8 digitos</strong>
                              </span>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Genero</label>
                            <select formControlName="gender"
                            class="form-select " id="inputState" aria-label=".form-select-lg example">
                                <option value="4" disabled>Seleccione un Genero</option>
                                <option value="Masculino">masculino</option>
                                <option value="Femenino">femenino</option>
                                <option value="No Definido">No Definido</option>
                            </select>
                            <span *ngIf="
                            formPerson.get('gender')?.hasError('required') &&
                            formPerson.get('gender')?.touched"
                            >
                            <strong style="color:orangered" >El campo Genero es Requerido</strong>
                            </span>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Direccion</label>
                            <input formControlName="address"
                            class="form-control"
                            id="exampleInputPassword1">
                            <span *ngIf="
                            formPerson.get('address')?.hasError('required') &&
                            formPerson.get('address')?.touched"
                            >
                            <strong style="color:orangered">El campo Direccion es Requerido</strong>
                            </span>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Fecha de Nacimiento</label>
                            <input class="form-select "
                            formControlName="date_b" id="inputState"
                            type = "date" name = "date" min="1940-01-01" max="2002-12-31">
                            <span *ngIf="
                            formPerson.get('date_b')?.hasError('required') &&
                            formPerson.get('date_b')?.touched"
                            >
                            <strong style="color:orangered">El campo Fecha de Nacimiento es Requerido</strong>
                            </span>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Nombre de Usuario</label>
                            <input formControlName="username"
                            class="form-control"
                            id="exampleInputPassword1">
                            <span *ngIf="
                            formPerson.get('username')?.hasError('required') &&
                            formPerson.get('username')?.touched"
                            >
                            <strong style="color:orangered">El campo Nombre de Usuario es Requerido</strong>
                            </span>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Contraseña</label>
                            <input formControlName="password"
                            class="form-control"
                            id="exampleInputPassword1">
                            <span *ngIf="
                            formPerson.get('password')?.hasError('required') &&
                            formPerson.get('password')?.touched"
                            >
                            <strong style="color:orangered">El campo Contraseña es Requerido</strong>
                            </span>
                        </div>
                        <div class="modal-footer border-0 pt-4">
                            <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                            aria-label="Close"              >
                            cerrar
                          </button>
                          <button
                          [disabled]="formPerson.invalid"
                          type="submit"
                          class="btn btn-success"
                          (click)="redireccionarConRetraso('/menu')"
                        >
                          agregar
                        </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
