
<div class="body" style="padding-top: 130px;">
    <div
      style="
        background-color: rgba(255, 255, 255, 0.226);
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
      "
    >
      <div style="text-align: center">
        <h5 class="logito">Gracias por su Compra!</h5>
      </div>
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <img src="../../../assets/img/cart2.png"  alt="" height="500px" width="500px">
            </div>
        </div>
        
      </div>
      <h5 class="logito">Esperamos verte Pronto :D</h5>
<br><br><br>
    </div>
  </div>
  