<div class="body" style="padding: 130px;">
    <div style="background-color: rgba(255, 255, 255, 0.226); padding: 0px;margin: 0px;border-radius: 10px;">
  
    <div style="text-align: center;">
        <h5 class="logito">Reclamos</h5>
    </div>
    <div class="container">
        <div class="search-name pt-3 pb-3">
            <input class="form-control" type="text" name="search" autocomplete="on" placeholder=" Buscar  ">
          </div>

          <div class="agregar">
            <button
        
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              class="btn btn-outline-success"
            >
        
              <img class="imagen" src="./assets/img/agregar.png" alt="" />
            </button>
        
          </div>
          <table class="table color">
            <thead>
              <tr>
                <th scope="col" class="text-center">id</th>
                <th scope="col" class="text-center">nombre</th>
                <th scope="col" class="text-center">state</th>
                <th style="width: 10%" scope="col" class="text-center"></th>
                <th style="width: 10%" scope="col" class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td >
                  01
                </td>
                <td >
                  01
                </td>
                <td>
                  Activo
                </td>
                <td>
                  <button
                    data-bs-toggle="modal"
                    class="btn btn-outline-warning btn-sm"
                    
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop2"
                  >
                    <a> <img class="imagen" src="./assets/img/editar.png" alt="" /></a>
                  </button>
                </td>
                <td >
                  <button
                    
                    class="btn btn-outline-danger btn-sm"
                  >
                    <img class="imagen" src="./assets/img/eliminar.png" alt="" />
                  </button>
                </td>
              </tr>
              <tr>
                <td >
                  01
                </td>
                <td >
                  01
                </td>
                <td>
                  Activo
                </td>
                <td>
                  <button
                    data-bs-toggle="modal"
                    class="btn btn-outline-warning btn-sm"
                    
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop2"
                  >
                    <a> <img class="imagen" src="./assets/img/editar.png" alt="" /></a>
                  </button>
                </td>
                <td >
                  <button
                    
                    class="btn btn-outline-danger btn-sm"
                  >
                    <img class="imagen" src="./assets/img/eliminar.png" alt="" />
                  </button>
                </td>
              </tr>
              <tr>
                <td >
                  01
                </td>
                <td >
                  01
                </td>
                <td>
                  Activo
                </td>
                <td>
                  <button
                    data-bs-toggle="modal"
                    class="btn btn-outline-warning btn-sm"
                    
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop2"
                  >
                    <a> <img class="imagen" src="./assets/img/editar.png" alt="" /></a>
                  </button>
                </td>
                <td >
                  <button
                    
                    class="btn btn-outline-danger btn-sm"
                  >
                    <img class="imagen" src="./assets/img/eliminar.png" alt="" />
                  </button>
                </td>
              </tr>
              <tr>
                <td >
                  01
                </td>
                <td >
                  01
                </td>
                <td>
                  Activo
                </td>
                <td>
                  <button
                    data-bs-toggle="modal"
                    class="btn btn-outline-warning btn-sm"
                    
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop2"
                  >
                    <a> <img class="imagen" src="./assets/img/editar.png" alt="" /></a>
                  </button>
                </td>
                <td >
                  <button
                    
                    class="btn btn-outline-danger btn-sm"
                  >
                    <img class="imagen" src="./assets/img/eliminar.png" alt="" />
                  </button>
                </td>
              </tr>
              
            </tbody>
          </table>
    </div>
    <br>
    <br>
    <br>
   
  </div>
  </div>
  

