<app-navbar></app-navbar>
<div class="banner">
  <div class="overlay">
  <div class="cont-banner">
      <h1>SOMOS TEMPTATION</h1>
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptates nostrum cum sit voluptate ipsum facilis voluptatibus, qui itaque rerum! Cupiditate, et enim sapiente dolorem deleniti error fuga vitae fugit.
      </p>
  </div>
  </div>
</div>

<!--Barra social-->
<div id="redes">
  <div id="facebook">
      <a class="fa-brands fa-facebook-square" href="http://www.facebook.com" target="_blank"></a>
  </div>
  <div id="twitter">
      <a class="fa-brands fa-twitter-square" href="http://www.twitter.com" target="_blank"></a>
  </div>
  <div id="instagram">
      <a class="fa-brands fa-instagram-square" href="http://www.instagram.com" target="_blank"></a>
  </div>
</div>

<main id="nosotros">
  <h2>Nosotros</h2>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe commodi ex sunt excepturi, consectetur quo obcaecati porro deleniti molestias culpa sint aspernatur? Labore libero cumque architecto ex, ad fugit repellendus.
      Nobis recusandae deserunt reiciendis debitis necessitatibus ex deleniti nisi rem odio dolore mollitia porro enim, odit error aliquam sint ducimus doloremque consequuntur dignissimos cumque quibusdam incidunt harum? Vero, placeat. Itaque.
      Illum numquam ipsa nostrum id praesentium dolore sapiente dignissimos molestias iure ut provident assumenda, enim odit asperiores dolores perspiciatis, voluptatem temporibus labore tempore magni, est autem optio. Sapiente, quas laborum.
  </p>
  <img src="img/img000.jpg" alt="" class="img-responsive">
</main>

<div class="fondo-parallax">
  <div class="parallax">
      <h2>Titulo del Parallax</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum enim eveniet ab optio? Aperiam sint aliquam quidem eius, corrupti eos sequi cum hic enim voluptatem quas doloremque aspernatur dolores vitae?</p>
  </div>
</div>
<!--Galeria de la Web-->
<div class="fondo-galeria" id="galeria">
  <h2 class="text-galeria">Nuestra galeria</h2>
  <div class="galeria">
      <aside>
          <img src="img/img001.jpg" alt="" class="img-aside">
          <div class="cont-aside">
              <h3>Galeria 1</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, incidunt! </p>
          </div>
      </aside>
      <aside>
          <img src="img/img002.jpg" alt="" class="img-aside">
          <div class="cont-aside">
              <h3>Galeria 2</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, incidunt! </p>
          </div>
      </aside>
      <aside>
          <img src="img/img003.jpg" alt="" class="img-aside">
          <div class="cont-aside">
              <h3>Galeria 3</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, incidunt! </p>
          </div>
      </aside>
      <aside>
          <img src="img/img004.jpg" alt="" class="img-aside">
          <div class="cont-aside">
              <h3>Galeria 4</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, incidunt! </p>
          </div>
      </aside>
  </div>
</div>

<div class="fondo-tarjetas">
  <div class="tarjetas">
      <div class="tarjeta">
          <img src="img/img05.jpg" alt="" class="img-tarjeta">
          <div class="cont-tarjeta">
              <h3>Tarjeta 01</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, molestias.</p>
          </div>
      </div>
      <div class="tarjeta">
          <img src="img/img06.jpg" alt="" class="img-tarjeta">
          <div class="cont-tarjeta">
              <h3>Tarjeta 02</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, molestias.</p>
          </div>
      </div>
      <div class="tarjeta">
          <img src="img/img07.jpg" alt="" class="img-tarjeta">
          <div class="cont-tarjeta">
              <h3>Tarjeta 03</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, molestias.</p>
          </div>
      </div>
  </div>
</div>

<div class="fondo-cards">
  <h2 class="text-cards">NUESTROS PROYECTOS</h2>
  <div class="cards">
      <div class="card">
          <img src="img/service01.png" alt="" class="img-card">
          <div class="cont-card">
              <h3>Proyecto 01</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, in.</p>
          </div>
      </div>
      <div class="card">
          <img src="img/service02.png" alt="" class="img-card">
          <div class="cont-card">
              <h3>Proyecto 02</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, in.</p>
          </div>
      </div>
      <div class="card">
          <img src="img/service03.png" alt="" class="img-card">
          <div class="cont-card">
              <h3>Proyecto 03</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, in.</p>
          </div>
      </div>
      <div class="card">
          <img src="img/service04.png" alt="" class="img-card">
          <div class="cont-card">
              <h3>Proyecto 04</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, in.</p>
          </div>
      </div>
  </div>
</div>

<div class="fondo-footer">
  <div class="footer">
      <footer>
          <h2>IUDP</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro maxime perferendis fuga magni distinctio sunt, id dolorem, recusandae laudantium nobis consectetur repudiandae iusto. Consequatur molestias maxime facere, iusto veniam quibusdam.</p>
      </footer>
      <footer>
          <h2>Nuestros Auspiciadores</h2>
          <ul class="auspiciadores">
              <li>Miguel Pallin</li>
              <li>Tecnologia Zero</li>
              <li>Academias Deltron</li>
              <li>Suerte Final 3000</li>
          </ul>
      </footer>
      <footer>
          <h3>Siguenos en nuestras redes</h3>
          <div class="social">
              <label class="ico fa-brands fa-facebook"></label>
              <label class="ico fa-brands fa-twitter"></label>
              <label class="ico fa-brands fa-youtube"></label>
          </div>
      </footer>
  </div>
</div>
<div class="fondo-pies">
  <div class="pies">
      <div class="pie">
          <p>Creado y Desarrollado por Grupo 9</p>
      </div>
      <div class="pie">
          <p>Todos los derechos reservados a Grupo 9</p>
      </div>
  </div>
</div>


