.my-carousel{
  position: absolute;
  top: 0;

}

.marquee {
  padding-top: 5px;
  padding-bottom:0px ;
  margin-bottom: 0px;
  width: 100%;
  overflow: hidden;
  height: 43.5px;
}

.marquee li {
  font-size: 20px;
}

.marquee__content {
  display: flex;
  list-style: none;
  animation: scrolling 10s linear infinite;
}

.marquee__item {
  flex-shrink: 0;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.card-group{
  width: 1903px;
}


.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  font-size: 24px;
  font-weight: bold;

}

.colortext{
  text-shadow:
  /* -2px -2px 0 #dcdcdc, */
   2px -2px 0 #868585,
  -2px  2px 0 #868585,
   2px  2px 0 #ffffff;
}

.ulest{
  line-height: 32px;
  list-style-type: none;
  margin: 0;
  padding: 3;
  list-style-image: url(../../../assets/img/inconfamarillo3.png);
}

.ulest2{
  line-height: 32px;
  list-style-type: none;
  margin: 0;
  padding: 3;
  list-style-image: url(../../../assets/img/inconfazul3.png);
}