<main class="cs-page-wrapper">
  <div
    id="carouselExampleInterval"
    class="carousel slide my-carousel"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img
          src="../../../assets/img/menu-img/900/1.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="../../../assets/img/menu-img/900/3.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="../../../assets/img/menu-img/900/5.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="../../../assets/img/menu-img/900/9.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <!-- <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->

    <div class="marquee" style="background-color: #e4ff80">
      <ul class="marquee__content">
        <li class="marquee__item">
          📦 Envío <span> GRATIS</span> en todas tus compras
        </li>
        <li class="marquee__item">
          📦 Envío <span> GRATIS</span> en todas tus compras
        </li>
        <li class="marquee__item">
          📦 Envío <span> GRATIS</span> en todas tus compras
        </li>
        <li class="marquee__item">
          📦 Envío <span> GRATIS</span> en todas tus compras
        </li>
        <li class="marquee__item">
          📦 Envío <span> GRATIS</span> en todas tus compras
        </li>
        <li class="marquee__item">
          📦 Envío <span> GRATIS</span> en todas tus compras
        </li>
        <li class="marquee__item">
          📦 Envío <span> GRATIS</span> en todas tus compras
        </li>
        <li class="marquee__item">
          📦 Envío <span> GRATIS</span> en todas tus compras
        </li>
        <li class="marquee__item">
          📦 Envío <span> GRATIS</span> en todas tus compras
        </li>
        <li class="marquee__item">
          📦 Envío <span> GRATIS</span> en todas tus compras
        </li>
        <li class="marquee__item">
          📦 Envío <span> GRATIS</span> en todas tus compras
        </li>
        <li class="marquee__item">
          📦 Envío <span> GRATIS</span> en todas tus compras
        </li>
      </ul>
    </div>

    <div class="container-fluid" style="margin-top: 30px">
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
          <div class="card" style="width: 70%; margin-left: 130px">
            <img
              src="../../../assets/img/menu-img/bassika/bassika5.jpg"
              alt="..."
            />
          </div>
          <div
            style="
              text-align: center;
              font-family:Verdana, Geneva, Tahoma, sans-serif;
              margin-top: 10px;
            "
          >
            <h3>Próximamente 🌺</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 70%; margin-left: 90px">
            <img
              src="../../../assets/img/menu-img/bassika/bassika2.jpg"
              alt="..."
            />
          </div>
          <div
            style="
              text-align: center;
              font-family:Verdana, Geneva, Tahoma, sans-serif;

              margin-top: 10px;
            "
          >
            <h3>Próximamente 🎁</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 70%; margin-left: 30px">
            <img
              src="../../../assets/img/menu-img/bassika/bassika3.jpg"
              alt="..."
            />
          </div>
          <div
            style="
              text-align: center;
              font-family:Verdana, Geneva, Tahoma, sans-serif;

              margin-top: 10px;
            "
          >
            <h3>Próximamente 💐</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="margin-top: 30px">
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
          <div class="card" style="width: 70%; margin-left: 130px">
            <img
              src="../../../assets/img/menu-img/bassika/bassika8.jpg"
              alt="..."
            />
          </div>
          <div
            style="
              text-align: center;
              font-family:Verdana, Geneva, Tahoma, sans-serif;

              margin-top: 10px;
            "
          >
            <h3>Próximamente 👑</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 70%; margin-left: 90px">
            <img
              src="../../../assets/img/menu-img/bassika/bassika4.jpg"
              alt="..."
            />
          </div>
          <div
            style="
              text-align: center;
              font-family:Verdana, Geneva, Tahoma, sans-serif;

              margin-top: 10px;
            "
          >
            <h3>Próximamente 🌹</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 70%; margin-left: 30px">
            <img
              src="../../../assets/img/menu-img/bassika/bassika10.jpg"
              alt="..."
            />
          </div>
          <div
            style="
              text-align: center;
              font-family:Verdana, Geneva, Tahoma, sans-serif;

              margin-top: 10px;
            "
          >
            <h3>Próximamente 🌷</h3>
          </div>
        </div>
      </div>
    </div>

    <div
      class="card-group"
      style="padding: 0; margin-top: 110px; position: relative"
    >
      <img
        style="width: 100%"
        src="../../../assets/img/menu-img/bassika/banner2 .jpg"
        alt="..."
      />
      <div class="texto">
        <h5
          class="colortext"
          style="font-size: 100px; color: rgb(255, 255, 255)"
        >
          Temptation
        </h5>
      </div>
    </div>

    <div class="container" style="padding-top: 100px;">
      <div class="row">
        <div class="col">
          <div class="card mb-3" style="max-width: 540px; border-color: rgb(250, 171, 0); border-width: 3px;">
            <div class="row g-0" style="background-color: rgb(255, 254, 172);">
              <div class="col-md-4">
                <img   src="../../../assets/img/imgblusav.png" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8" >
                <div class="card-body">
                  <h5 class="card-title">Blusa Bolton - Verde</h5>
                  <ul class="ulest2">
                    <li>Blusa de mangas largas</li>
                    <li>Unicolor</li>
                    <li>Detalle de ajuste en la parte delantera</li>
                    <li>Tela gasa</li>
                    <li>La modelo usa talla Small</li>
                  </ul>
                  <p class="card-text mt-3" style="font-weight: 500; color: orangered;">Spring Soon!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="max-width: 540px; border-color: rgb(250, 171, 0); border-width: 3px;">
            <div class="row g-0" style="background-color: rgb(255, 254, 172);">
              <div class="col-md-4">
                <img   src="../../../assets/img/enterizo.png" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8" >
                <div class="card-body">
                  <h5 class="card-title">Enterizo Marsay - Negro</h5>
                  <ul class="ulest2">
                    <li>Enterizo unicolor</li>
                    <li>Enterizo de tiras</li>
                    <li>Prints de flores</li>
                    <li>Gasa Estampada</li>
                    <li>La modelo usa talla Small</li>
                  </ul>
                  <p class="card-text mt-3" style="font-weight: 500; color: orangered;">Spring Soon!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card mb-3" style="max-width: 540px; border-color: rgb(250, 171, 0); border-width: 3px;">
            <div class="row g-0" style="background-color: rgb(255, 254, 172);">
              <div class="col-md-4">
                <img   src="../../../assets/img/pantalonb.png" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8" >
                <div class="card-body">
                  <h5 class="card-title">Pantalón Meyboom - Camel</h5>
                  <ul class="ulest2">
                    <li>Prenda con elástico en cintura posterior</li>
                    <li>Bolsillo cargo con tapa en laterales</li>
                    <li>Bolsillos clásicos laterales</li>
                    <li>Botapie sin elástico</li>
                    <li>Tela Drill</li>
                  </ul>
                  <p class="card-text mt-3" style="font-weight: 500; color: orangered;">Spring Soon!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="max-width: 540px; border-color: rgb(250, 171, 0); border-width: 3px;">
            <div class="row g-0" style="background-color: rgb(255, 254, 172);">
              <div class="col-md-4">
                <img   src="../../../assets/img/vestidov.png" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8" >
                <div class="card-body">
                  <h5 class="card-title">Vestido Larsen - Verde</h5>
                  <ul class="ulest2">
                    <li>Vestido de tiras</li>
                    <li>Prints de flores</li>
                    <li>Detalle de trenzado en la parte trasera</li>
                    <li>Tela gasa</li>
                    <li>La modelo usa talla Small</li>
                  </ul>
                  <p class="card-text mt-3" style="font-weight: 500; color: orangered;">Spring Soon!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card-group" style="padding: 0; margin-top: 70px; border: none">
      <div class="card" style="border: none">
        <img src="../../../assets/img/menu-img/800/7.jpg" alt="..." />
      </div>
      <div class="card">
        <img src="../../../assets/img/menu-img/800/3.jpg" alt="..." />
      </div>
      <div class="card">
        <img src="../../../assets/img/menu-img/800/1.jpg" alt="..." />
      </div>
      <div class="card">
        <img src="../../../assets/img/menu-img/800/2.jpg" alt="..." />
      </div>
      <div class="card">
        <img src="../../../assets/img/menu-img/800/4.jpg" alt="..." />
      </div>
    </div>
    <div class="card-group" style="padding: 0; margin: 0">
      <div class="card">
        <img src="../../../assets/img/menu-img/800/4.jpg" alt="..." />
      </div>
      <div class="card">
        <img src="../../../assets/img/menu-img/800/2.jpg" alt="..." />
      </div>
      <div class="card">
        <img src="../../../assets/img/menu-img/800/7.jpg" alt="..." />
      </div>
      <div class="card">
        <img src="../../../assets/img/menu-img/800/4.jpg" alt="..." />
      </div>
      <div class="card">
        <img src="../../../assets/img/menu-img/800/3.jpg" alt="..." />
      </div>
    </div>


    <div class="container" style="padding-top: 100px; padding-bottom: 100px;">
      <div class="row">
        <div class="col">
          <div class="card border-info mb-3" style="max-width: 540px; border-width: 3px;">
            <div class="row g-0" style="background-color: rgb(202, 253, 253);">
              <div class="col-md-4">
                <img   src="../../../assets/img/vestidolila.png" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8" >
                <div class="card-body">
                  <h5 class="card-title">Vestido Andy - Lila</h5>
                  <ul class="ulest">
                    <li>Vestido manga cero</li>
                    <li>Color entero</li>
                    <li>Frunsido en parte delantera</li>
                    <li>Escote en V</li>
                    <li>La modelo usa talla Small</li>
                  </ul>
                  <p class="card-text mt-3" style="font-weight: 500; color: rgb(0, 89, 255);">Summer Soon!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-info mb-3" style="max-width: 540px; border-width: 3px;">
            <div class="row g-0" style="background-color: rgb(202, 253, 253);">
              <div class="col-md-4">
                <img   src="../../../assets/img/cropAzul.png" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8" >
                <div class="card-body">
                  <h5 class="card-title">Crop Tejido Smash - Azulino</h5>
                  <ul class="ulest">
                    <li>Prenda de uso complementario</li>
                    <li>Mangas amplias</li>
                    <li>Escote tipo ojal</li>
                    <li>Acrilico con viscosa</li>
                    <li>Tejido punto jersey listado</li>
                  </ul>
                  <p class="card-text mt-3" style="font-weight: 500; color: rgb(0, 89, 255);">Summer Soon!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card border-info mb-3" style="max-width: 540px; border-width: 3px;">
            <div class="row g-0" style="background-color: rgb(202, 253, 253);">
              <div class="col-md-4">
                <img   src="../../../assets/img/pologris.png" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8" >
                <div class="card-body">
                  <h5 class="card-title">Polo Oversized Toxic - Gris</h5>
                  <ul class="ulest">
                    <li>Prenda de ligeros hombros caídos</li>
                    <li>Mangas anchas y cortas</li>
                    <li>Cuello redondo</li>
                    <li>Efecto Acid wash</li>
                    <li>Tela Jersey</li>
                  </ul>
                  <p class="card-text mt-3" style="font-weight: 500; color: rgb(0, 89, 255);">Summer Soon!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-info mb-3" style="max-width: 540px; border-width: 3px;">
            <div class="row g-0" style="background-color: rgb(202, 253, 253);">
              <div class="col-md-4">
                <img   src="../../../assets/img/biki.png" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8" >
                <div class="card-body">
                  <h5 class="card-title">Set de Bikini Sunset - Celeste</h5>
                  <ul class="ulest">
                    <li>Set de bikini</li>
                    <li>Estampado</li>
                    <li>2 piezas</li>
                    <li>Tela verna</li>
                    <li>La modelo usa talla Small</li>
                  </ul>
                  <p class="card-text mt-3" style="font-weight: 500; color: rgb(0, 89, 255);">Summer Soon!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</main>
