<main class="cs-page-wrapper">
  <!-- PUEDES METER TU IMAGEN EN ESTE CARRUSEL, LA PRIMERA IMAGEN ESTA GOD PARA HACER UN CARRUSEL, CONSIGUETE OTRAS 2 IGUALITAS -->
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../assets/img/hero-slider/03.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
          <div class="carousel-caption d-none d-md-block ">
            <h5>BIENVENIDA A TIENDA TEMPTATION</h5>
            <p>Viste tu Actitud</p>
          </div>
        </div>

      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/img/hero-slider/02.jpg"
          class="d-block w-100"
          alt="..."
        />

      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/img/hero-slider/01.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--  -->

  <!-- sliders -->
  <br>
  <br>
  <br>
  <section class="cs-carousel cs-controls-onhover">
    <!-- Slide 1 -->
    <div
      class="bg-size-cover py-xl-6"
      style="
        background-image: url(../../assets/img/ecommerce/home/hero-slider/03.jpg);
      "
    >
      <div class="container pt-5 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
            <h3 class="font-size-lg text-uppercase cs-from-left cs-delay-1">
              New In
            </h3>
            <h2 class="display-2 mb-lg-5 pb-3 cs-from-left">Mujer 2023</h2>
            <div class="mb-4 cs-scale-up cs-delay-2">
              <a href="/productos/polos" class="btn btn-outline-primary btn-lg"
                >Comprar Productos</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div
      class="bg-size-cover py-xl-6"
      style="background-image: url(../../../assets/img/imgmenu/b1.jpg)"
    >
      <div class="container pt-5 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
            <h3 class="font-size-lg text-uppercase cs-from-left cs-delay-1">
              Edicion Limitada
            </h3>
            <h2 class="display-2 mb-lg-5 pb-3 cs-from-left">
              Mira tus Productos
            </h2>
            <div class="mb-4 cs-scale-up cs-delay-2">
              <a href="/car" class="btn btn-outline-primary btn-lg"
                >Ir a Carrito</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div
      class="bg-size-cover py-xl-6"
      style="background-image: url(../../../assets/img/imgmenu/b3.jpg)"
    >
      <div class="container pt-5 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
            <h3 class="font-size-lg text-uppercase cs-from-top cs-delay-1">
              Nueva Coleccion
            </h3>
            <h2 class="display-2 mb-lg-5 pb-3 cs-scale-down">
              Otoño-Invierno 2023
            </h2>
            <div class="mb-4 cs-scale-down cs-delay-2">
              <a href="/colecciones" class="btn btn-outline-primary btn-lg"
                >Ver Nueva Coleccion</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>
  <br>
  <section class="container pt-5 pt-lg-0">
    <!-- CARDS -->

    <div class="row">
      <!--card1-->
      <div class="col-sm-6">
        <div class="card">
          <img src="../../assets/img/ecommerce/home/categories/04.jpg" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">Blusas para Ti</h5>
            <p class="card-text">Mira las hermosas blusas que tenemos</p>
            <a href="#" class="btn btn-primary">Comprar Blusas</a>
          </div>
        </div>
      </div>

      <!--card2-->
      <div class="col-sm-6">
        <div class="card">
          <img src="../../assets/img/ecommerce/home/categories/09.jpg" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">Chompas y Sacos</h5>
            <p class="card-text">Elegancia y comidad a tu alcance</p>
            <a href="" class="btn btn-primary">Comprar Chompas</a>
          </div>
        </div>
      </div>

      <!--card3-->
      <div class="col-sm-6">
        <div class="card">
          <img src="../../../assets/img/imgmenu/apolo.jpg" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">Hermosos Polos</h5>
            <p class="card-text">Comodidad y Frescura</p>
            <a href="" class="btn btn-primary">Comprar Polos</a>
          </div>
        </div>
      </div>

      <!--card4-->
      <div class="col-sm-6">
        <div class="card">
          <img src="../../../assets/img/imgmenu/c2.jpg" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">Jeans Nuevos</h5>
            <p class="card-text">Viste la mejor tela a la Moda</p>
            <a href="" class="btn btn-primary">Comprar Pantalones</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- New arrivals -->

  <br>

  <!-- Trending products (carousel) -->

  <!-- Popular categories -->

  <!-- Mobile app CTA -->
  <section class="bg-dark">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <img
            src="../../assets/img/ecommerce/home/mobile-app-illustration.png"
            class="d-block mx-auto my-4 mb-lg-0 mt-lg-n4"
            width="498"
            alt="Illustartion"
          />
        </div>
        <div class="col-md-7 col-lg-6 pt-3 pb-5 pt-md-5 pb-md-4 ml-auto">
          <h2 class="text-light text-center text-md-left pb-3">
            Muy Pronto en Play Store App!
          </h2>
          <div
            class="d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-md-start"
          >
            <!--<a href="#" class="btn-market btn-apple mb-3 mx-2 ml-md-0 mr-md-3" role="button">
                <span class="btn-market-subtitle">Download on the</span>
                <span class="btn-market-title">App Store</span>
              </a>
              <a href="#" class="btn-market btn-google mb-3 mx-2 mx-md-0" role="button">
                <span class="btn-market-subtitle">Download on the</span>
                <span class="btn-market-title">Google Play</span>
              </a>-->
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>
  <!--cuadrados-->
  <section class="container">
    <div class="row mb-2">

      <!--primer cuadro-->
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">LIQUIDACION!</strong>
            <h3 class="mb-0">Polos desde S/50</h3>
            <div class="mb-1 text-muted">Solo este mes</div>
            <p class="card-text mb-auto">Despide el Verano con estos articulos de Liquidacion con este Super Precio!</p>
            <a href="/productos/polos" class="stretched-link">Ir a ver Polos</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="/productos/polos" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>POLOS</title><rect width="100%" height="100%" fill="#CE09AD"/><text x="38%" y="50%" fill="#eceeef" dy=".3em">POLOS</text></svg>
          </div>
        </div>
      </div>

      <!--segundo cuadro-->
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">BUSCA</strong>
            <h3 class="mb-0">Jeans para Todas</h3>
            <div class="mb-1 text-muted">Lanzamiento</div>
            <p class="mb-auto">Mira las nuevas y novedosas Marcas de Jeans que tenemos para Ti.</p>
            <a href="/productos/jeans" class="stretched-link">Ir a ver Jeans</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="/productos/polos" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>JEANS</title><rect width="100%" height="100%" fill="#0960CE"/><text x="39%" y="50%" fill="#eceeef" dy=".3em">JEANS</text></svg>
          </div>
        </div>
      </div>

      <!--tercer cuadro-->
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">IMAGINA</strong>
          <h3 class="mb-0">Hermosas Vestidos</h3>
          <div class="mb-1 text-muted">Desde S/90</div>
          <p class="mb-auto">Enamorate de los mas lindos y preciosos vestidos hechos para ti</p>
          <a href="/productos/vestidos" class="stretched-link">Ir a ver Vestidos</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="/productos/vestidos" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>VESTIDOS</title><rect width="100%" height="100%" fill="#10D7E7"/><text x="33%" y="50%" fill="#eceeef" dy=".3em">VESTIDOS</text></svg>
        </div>
      </div>
    </div>

    <!--cuarto cuadro-->
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-muted">ENAMORATE</strong>
          <h3 class="mb-0">Elegancia en Blusas</h3>
          <div class="mb-1 text-muted">Para Todas</div>
          <p class="mb-auto">Encuentra la mas hermosa blusa a tu medida y gusto lista para toda ocacion</p>
          <a href="/productos/blusas" class="stretched-link">Ir a ver Blusas</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="/productos/blusas" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>BLUSAS</title><rect width="100%" height="100%" fill="#E72A10"/><text x="37%" y="50%" fill="#eceeef" dy=".3em">BLUSAS</text></svg>
        </div>
      </div>
    </div>

    </div>
  </section>


  <!-- Services -->
  <hr>
  <section class="container">
    <div class="row mb-2">

      <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
        <img
          class="mb-4"
          src="../../assets/img/ecommerce/home/services/delivery.svg"
          width="48"
          alt="Worldwide Shipping"
        />
        <h5 class="h5 mb-2">Pronto Servicio Delivery!</h5>
        <p class="mb-0 text-muted">Por compras Mayores a S/250</p>
      </div>

      <!-- <span class="divider-vertical d-sm-block d-none"></span> -->
      <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
        <img
          class="mb-4"
          src="../../assets/img/ecommerce/home/services/support.svg"
          width="48"
          alt="Customer Support"
        />
        <h5 class="h5 mb-2">24/7 Para Ti!</h5>
        <p class="mb-0 text-muted">Atencion 24/7</p>
      </div>

      <!-- <span class="divider-vertical d-sm-block d-none"></span> -->
      <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
        <img
          class="mb-4"
          src="../../assets/img/ecommerce/home/services/guarantee.svg"
          width="48"
          alt="Customer Support"
        />
        <h5 class="h5 mb-2">Pagina 100% Segura</h5>
        <p class="mb-0 text-muted">Tus datos estan Seguros</p>
      </div>
      <!-- <span class="divider-vertical d-sm-block d-none"></span> -->
      <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
        <img
          class="mb-4"
          src="../../assets/img/ecommerce/home/services/payment.svg"
          width="48"
          alt="Customer Support"
        />
        <h5 class="h5 mb-2">Seguridad al hacer Pagos Online</h5>
        <p class="mb-0 text-muted">Paga con Tarjeta con Confianza</p>
      </div>

    </div>
  </section>

  <!-- Insagram -->
  <hr>
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Muy Pronto!</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../../../assets/img/instagram/01.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-red text-shadow-1">
            <h3 class="pt-5 mt-3 mb-4 display-6 lh-1 fw-bold">Ropa para Varon</h3>
            <ul class="d-flex list-unstyled mt-auto">
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../../../assets/img/instagram/02.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-muted text-shadow-1">
            <h3 class="pt-3 mt-1 mb-4 display-5 lh-1 fw-bold">Zapatillas para Ti</h3>
            <ul class="d-flex list-unstyled mt-auto">
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../../../assets/img/instagram/03.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-muted text-shadow-1">
            <h3 class="pt-3 mt-1 mb-4 display-5 lh-1 fw-bold">Ropa Para Niños</h3>
            <ul class="d-flex list-unstyled mt-auto">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
